<h2>Dashboard</h2>
{{> dashboardStats totalCameras=totalCameras uniqueSensors=uniqueSensors mostCommonLens=mostCommonLens}}
{{> recentCameras recentCameras=recentCameras}}
{{> cameraList cameras=cameras}}